<!doctype html>
<html>
    <head>
        <title>FOHS ScoreTracker</title>
        <link rel="stylesheet" href="./styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
        <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@3.x"></script>
        <script src="./app.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    </head>
    <body>
        <div id="app" class="container mt-4">
            <h1 class="text-center text-secondary"><b class="text-primary">FOHS</b> ScoreTracker</h1>
            <form @submit.prevent="addPlayer" class="mb-2">
                <div class="input-group">
                    <input class="form-control" placeholder="Name" v-model="newPlayerName">
                    <div class="input-group-append">
                        <button class="btn btn-primary" title="Add player">
                            <i class="fas fa-fw fa-user-plus"></i>
                        </button>
                    </div>
                </div>
            </form>
            <div class="row g-2">
                <player v-for="player in players" v-bind="player"></player>
            </div>
            <div id="login" ref="login" class="modal fade" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content border-0">
                        <div class="modal-header bg-secondary">
                            <h5 class="modal-title text-white">
                                <i class="fas fa-chart-line"></i>
                                FOHS ScoreTracker
                            </h5>
                        </div>
                        <form class="modal-body" @submit.prevent="login">
                            <p class="alert alert-danger alert-dismissible d-flex align-items-center" v-if="loginWarning">
                                <span class="fas fa-exclamation-triangle fs-5 me-1"></span>
                                Can't connect to server
                                <button type="button" class="btn btn-close" @click="loginWarning = false"></button>
                            </p>
                            <p class="text-center">
                                <img src="court-placeholder.png" class="img-fluid w-75">
                            </p>
                            <p>
                                <!-- TODO: actually put something here -->
                                Something describing the app, purpose, status, etc.
                            </p>
                            <h4>Login</h4>
                            <!-- Disable every field while we wait for login -->
                            <fieldset :disabled="waitingForLogin" class="row g-2">
                                <div class="col-md">
                                    <div class="form-floating">
                                        <input ref="email" required type="email" class="form-control" :class="{'is-invalid': emailHint}" v-model="email" placeholder="Email address">
                                        <label for="email" class="form-label"><i class="fa-fw far fa-envelope"></i> Email</i></label>
                                        <span class="form-text text-danger" v-if="emailHint">{{ emailHint }} </span>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-floating">
                                        <input ref="password" required type="password" class="form-control" :class="{'is-invalid': passwordHint}" v-model="password" placeholder="Password">
                                        <label for="password" class="form-label"><i class="fa-fw fas fa-key"></i> Password</label>
                                        <span class="form-text text-danger" v-if="passwordHint">{{ passwordHint }} </span>
                                    </div>
                                </div>
                                <input type="submit" class="d-none"> <!-- This is required for the Enter key to work -->
                            </fieldset>
                        </form>
                        <div class="modal-footer bg-light">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" :disabled="waitingForLogin">
                                    <i class="fas fa-sliders-h"></i>
                                    Settings
                                </button>
                                <ul class="dropdown-menu">
                                    <h6 class="dropdown-header text-danger">
                                        <!-- This warning will stop no one but I'm putting it here anyways -->
                                        <i class="fas fa-exclamation-triangle"></i>
                                        Don't change these unless you know what you're doing.
                                    </h6>
                                    <div class="form-group px-3">
                                        <label for="base">API Base</label>
                                        <input class="form-control" name="base" v-model="apiBase">
                                    </div>
                                </ul>
                            </div>
                            <button class="btn btn-primary" @click="login" :disabled="waitingForLogin">
                                <i class="fas fa-sign-in-alt" v-if="!waitingForLogin"></i>
                                <i class="fas fa-circle-notch fa-spin" v-else></i>
                                Login
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <template id="player-template">
            <div class="col-md-6">
                <div class="border bg-light p-1 clearfix">
                    <span class="lead">{{ name }}</span>
                    <div>
                        ID: <b>{{ id }}</b>
                    </div>
                    <div class="btn-group float-end">
                        <button class="btn btn-danger" @click="removePlayer">
                            <i class="fas fa-user-minus"></i>
                        </button>
                    </div>
                </div>
            </div>
        </template>
    </body>
</html>
